*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin-top: 60px;
    min-height: calc(100vh - 6px);
    background-color: rgba(247, 238, 219, 0.8);
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 2fr 10fr 2fr;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: black;
}

.one{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    font-size: 70px;
    padding: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: orange;
    text-decoration-skip-ink: all;
    text-underline-offset: 14px;
}

.two{
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 20px;
}

.timeline{
    position: relative;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 9px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #555;
}

.item{
    position: relative;
    padding-left: 40px;
    margin-bottom: 60px;
}

.dot{
    position: absolute;
    left: 0;
    top: 5px;
    width: 18px;
    height: 18px;
    background: orange;
    border-radius: 50%;
    border: 2px solid black;
}

.content{
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .container {
        /* grid-template-columns: 1fr;  */
        /* grid-template-rows: auto auto; */
        grid-template-rows: 1fr 8fr;
        grid-template-columns: 1fr 20fr 1fr;
        /* padding: 0 15px; */
    }

    .one {
        grid-row: 1/2;
        grid-column: 2/3;
        font-size: 46px;
        /* padding: 20px 10px; */
        text-underline-offset: 10px;
    }

    .two {
        grid-row: 2/3;
        grid-column: 2/3;
        /* padding: 10px 5px 30px; */
    }

    .content {
        font-size: 17px;
    }

    .content p[style] {
        font-size: 20px !important;
    }

    .item {
        margin-bottom: 40px;
    }
}
