*{
    margin: 0px;
    padding: 0px;
}

.main_container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(30, 30, 30);
    color: white;
    display: grid;
    grid-template-columns: 3fr 3fr 7fr;
    grid-template-rows: 1fr;
    z-index: 1000;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}

.first{
    color: orange;
    font-family: Calibri, sans-serif;
    font-size: 26px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.box{
    cursor: pointer;
}

a{
    color: white;
}

.box:hover{
    color: orange;
    scale: 1.1;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-skip-ink: all;
    text-underline-offset: 8px;
}

a:hover{
    color: orange;
}


