*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin-top: 60px;
    min-height: calc(100vh - 6px);
    background-color: rgba(247, 238, 219, 0.8);
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 2fr 10fr 2fr;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: black;
    gap: 5px;
}

.one{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    padding: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-decoration-color: orange;
    text-decoration-skip-ink: all;
    text-underline-offset: 14px;
}

.two{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    gap: 40px;
}

.three{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}

.three b{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: orange;
    text-decoration-skip-ink: all;
    text-underline-offset: 14px;
}

.four{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 10px;
}

img{
    height: 60px;
    width: 60px;
}

.five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

@media (max-width: 768px) {
    .container {
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: auto auto; */
        grid-template-rows: 1fr 7fr;
        grid-template-columns: 1fr 16fr 1fr;
        /* padding: 0 15px; */
    }

    .one {
        grid-column: 1/2;
        grid-column: 2/3;
        font-size: 46px;
        /* padding: 20px 10px; */
        text-underline-offset: 10px;
    }

    .two {
        grid-row: 2/3;
        grid-column: 2/3;
        grid-template-rows: auto;
        /* grid-template-rows: auto auto auto auto auto auto; */
        grid-template-columns: 1fr;
        gap: 10px;
        padding-bottom: 30px;
    }

    .three {
        font-size: 22px;
        padding-left: 10px;
        padding-bottom: 10px;
        border: 3px solid black; 
    }

    .four {
        gap: 16px;
        /* border: 3px solid black; */
    }

    img {
        height: 48px;
        width: 48px;
    }

    .five {
        font-size: 14px;
        min-width: 60px;
    }
}
